<!DOCTYPE html>
<html>
  <head>
    <title>ISSUE MAKER</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/nav.css" />
  </head>
  <body>
    <% include ../partials/header.ejs %>

    <div id="wrap">
      delectus unde voluptatem exercitationem asperiores aliquam deleniti, impedit, laboriosam ex. Amet suscipit
      accusantium atque adipisci quasi similique vitae iure rem! Facere aspernatur facilis cumque eum neque magni quam
      animi voluptates accusamus necessitatibus quod error tempora eligendi rerum ipsa ut incidunt similique sint illum
      quibusdam, adipisci quidem quasi totam? Perferendis, asperiores. Saepe minima dolorum, officiis debitis eligendi
      soluta laboriosam qui quasi id temporibus repellendus veniam dolor illum. Provident, accusamus nihil tempora
      quaerat architecto voluptate officia numquam sint voluptatem natus quam fugiat. Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. Molestias id ea explicabo, suscipit ipsum voluptate, quas dolores modi accusantium
      reiciendis ut? Ab, aperiam facere necessitatibus eligendi illum fugiat amet esse? Quae omnis magni distinctio! Rem
      quidem, praesentium laboriosam totam suscipit pariatur quas dicta maxime, sed similique sint nihil eum nobis
      exercitationem sequi corporis ratione ut! Deserunt commodi quia eligendi fugiat. Repellendus quia debitis
      aspernatur! Asperiores deserunt facere minima! Harum explicabo a soluta sequi aut doloremque quia rem, nobis
      nihil, non aliquid quis dolorem inventore atque temporibus, voluptatum culpa. Accusantium, debitis! Eligendi
      provident molestias animi laborum amet id, dignissimos eum! Neque atque voluptate distinctio aliquid perferendis,
      non nostrum deserunt! Eaque quibusdam perferendis optio placeat sit deleniti fuga incidunt mollitia eius
      cupiditate. Quas perspiciatis eum ex quibusdam exercitationem? Nam, incidunt rerum? Veritatis, sequi dignissimos
      nemo enim itaque, architecto harum saepe natus reprehenderit mollitia ducimus facilis! Corrupti aut ad quibusdam
      distinctio corporis officiis. Quo sit tenetur, veniam expedita exercitationem voluptate iste, molestias deserunt
      pariatur fugit saepe, autem impedit optio inventore cum explicabo corporis? Quis labore recusandae blanditiis,
      exercitationem temporibus accusamus harum qui. Eos. Magni autem fugit, vel totam rem quos cumque animi alias
      necessitatibus quisquam quasi ratione ex, modi laboriosam quae dolor unde. Ratione quod debitis eius animi
      deserunt aperiam, odit incidunt a. Expedita aliquam sapiente voluptates cum animi nesciunt soluta facere,
      inventore modi beatae qui delectus. Nam sapiente commodi debitis optio, beatae quas qui blanditiis accusantium
      inventore velit. Sunt quas ipsa error. Quod repellat magnam ipsum praesentium! Eum incidunt repellat deserunt quod
      quae harum corporis voluptates quam dicta necessitatibus voluptas tempore excepturi possimus similique praesentium
      dolore quis ut, unde asperiores beatae reiciendis. Veritatis modi necessitatibus tempore, recusandae iste quo nam
      reprehenderit minus tenetur enim soluta unde, similique explicabo cum quasi delectus laborum dicta officia magnam
      sapiente molestias. Totam deleniti eum eveniet qui?
    </div>

    <script src="js/header.js"></script>
  </body>
</html>
