<!DOCTYPE html>
<html>
  <head>
    <title>Algorithmes</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/nav.css" />

    <style>
      div.lnb {
        height: 5rem;
        background: blue;
      }
    </style>
  </head>
  <body>
    <% include ../../partials/header.ejs %>
    <div class="lnb">
      ddasda
    </div>

    <div id="content-wrap">
      <aside>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum obcaecati laborum voluptate enim cum eligendi
        nulla voluptates, inventore adipisci odit nisi, modi ipsum totam officia error pariatur cupiditate dignissimos
        nam!
      </aside>

      <section class="post-area">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur voluptatibus numquam atque explicabo
        officiis magnam assumenda officia ullam incidunt nemo repellendus aperiam sequi ea quae, inventore impedit
        accusamus. Neque, quas.
      </section>
    </div>

    <script src="js/header.js"></script>
  </body>
</html>
