<header>
  <nav>
    <div class="nav-container">
      <div class="nav-left">
        <a class="nav-brand" href="/">Boost Camper</a>
      </div>
      <div class="nav-right">
        <ul>
          <li><a href="#">이슈메이커</a></li>
          <li><a href="#">알고리즘</a></li>
          <li><a href="#">로그인</a></li>
        </ul>
      </div>
    </div>

    <div class="m-menu">
      <div class="icon-container">
        <div class="icon"></div>
      </div>
    </div>
    <div class="nav-mobile">
      <ul>
        <li><a href="#">이슈메이커</a></li>
        <li><a href="#">알고리즘</a></li>
        <li><a href="#">로그인</a></li>
      </ul>
    </div>
  </nav>
</header>
