<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/nav.css" />
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="nav-left">
          <a class="nav-brand" href="/">Boost Camper</a>
        </div>
        <div class="nav-right">
          <div class="pcMenu">
            <ul>
              <li><a href="#">이슈메이커</a></li>
              <li><a href="#">알고리즘</a></li>
              <li><a href="#">로그인</a></li>
            </ul>
          </div>

          <div class="mMenu">
            <div class="icon-container">
              <div class="icon"></div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div id="wrap">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum nobis ut maiores laudantium, possimus quis fuga
      praesentium commodi architecto asperiores numquam voluptas consequuntur deleniti, veritatis non aliquam aliquid
      impedit dignissimos? Fugiat porro labore earum aliquam, fugit rerum delectus assumenda blanditiis iusto? Corrupti
      magnam commodi nulla hic reprehenderit exercitationem! Placeat numquam ad modi. Cumque accusantium eum nobis iure
      ipsum id quam. Eveniet autem cum quod placeat nemo quidem ex nihil reiciendis, impedit in enim fugit facilis
      praesentium numquam inventore omnis molestias corrupti voluptate itaque hic odit! Quaerat, deserunt dignissimos?
      Natus, provident! Ratione voluptatum magni obcaecati voluptate odio, a vero ab libero sint hic ullam at voluptas
      natus tempora repellendus nisi dicta laudantium laborum accusantium? Hic nostrum repudiandae molestiae, eos veniam
      natus? Natus harum dolor voluptas quia placeat tempore vitae soluta, neque velit eveniet, obcaecati quidem ratione
      explicabo laudantium voluptatum aut dignissimos minima exercitationem cupiditate quos perferendis eligendi quo
      quis porro. In. Aliquid eveniet voluptatum libero facere perferendis odit incidunt accusantium magni nisi
      praesentium sed veniam deleniti excepturi, molestiae quos exercitationem et expedita qui deserunt ab esse.
      Voluptate, exercitationem. Similique, blanditiis repudiandae. Ut, soluta sequi quasi officiis distinctio odio
      quibusdam laborum incidunt rerum provident cum quod amet iure delectus explicabo a, libero repellat vel maiores
      possimus vero eveniet quam hic! Minus, aut? Quae quam soluta ducimus similique rem non adipisci sapiente
      laudantium fugiat recusandae, laborum iure, explicabo nihil voluptatibus! Inventore adipisci doloremque, soluta
      tempore quaerat ipsum, quibusdam odio voluptatem repellendus quam accusantium. Incidunt natus, iusto voluptate sit
      quidem tenetur mollitia vitae dolore earum praesentium. Nostrum debitis neque dolor maiores ipsam cupiditate,
      illum nisi, soluta iusto incidunt, consequatur repellendus accusantium possimus quis obcaecati. Vitae reiciendis
      rerum aliquam quod eaque provident necessitatibus placeat tempora? Voluptatibus unde ex illum! Et iste,
      perspiciatis similique dolor veniam aperiam, saepe, quaerat ipsam cumque aspernatur labore itaque nam dolorum!
      Quisquam quia nobis ipsa esse porro iste eveniet id, blanditiis dignissimos corporis sunt unde adipisci excepturi
      suscipit expedita voluptatibus, ea saepe obcaecati odio perferendis nemo placeat quo! Vero, rem possimus! Incidunt
      ex amet, eius reiciendis iusto provident pariatur eum aperiam ducimus repellat laborum cumque iure vitae unde
      tempora similique nulla voluptatem eveniet magnam magni explicabo fugit praesentium consectetur asperiores. Nihil!
      Repudiandae deleniti commodi, architecto dicta odit voluptate vel quia alias, expedita officiis explicabo veniam
      odio adipisci sapiente animi excepturi nulla nesciunt tempora maxime. Culpa corrupti repellendus perspiciatis
      ratione iure? Expedita? Maxime numquam sit commodi itaque ipsam sapiente, facere eius vitae pariatur placeat unde
      dignissimos quam delectus mollitia nostrum! Non modi autem eveniet explicabo dolores, ipsam consequatur voluptas
      magnam soluta molestias? Quod iste quae accusantium aliquid nobis enim nam, ipsam quis exercitationem dolorum at
      tempora sed iure voluptatum consectetur laudantium, ratione natus maiores maxime quia distinctio nostrum eum.
      Magni, voluptatem veritatis! Aperiam, dolor numquam. Atque, quibusdam similique vitae, aliquam placeat officia
      necessitatibus voluptatem illo unde et vel facilis earum corrupti temporibus eaque pariatur numquam recusandae?
      Cumque temporibus eum dolorem ex alias? Voluptates aperiam expedita officiis dicta ullam eaque, consequatur non
      impedit, incidunt animi molestiae atque fugit ea, vitae natus soluta fugiat iusto repellendus sapiente asperiores
      obcaecati nemo alias explicabo. Ipsa, nihil. Mollitia aliquam autem error explicabo iusto numquam. Hic ipsum
      dolorum cumque, provident nulla ratione ea inventore in repellendus architecto? Voluptatibus adipisci maxime ipsa,
      in aperiam dolor consectetur recusandae veritatis porro? Dolorum numquam nihil eaque nam expedita ipsa sit commodi
      nostrum repudiandae. Cum iusto voluptate debitis maxime? Quod assumenda sunt voluptatum culpa natus maiores nam,
      tenetur saepe quo expedita sequi est? Laudantium beatae neque sint delectus vel, earum vero laboriosam nemo
      doloremque? Obcaecati, cumque aut hic ea illum nisi minima dicta libero et facere unde voluptatum corrupti?
      Quibusdam iste sint perferendis. Vel, nobis doloremque laboriosam eos officia expedita maiores, facere asperiores
      iusto aperiam eius hic distinctio, voluptatum ut minima fugiat! Nam magni eius quidem in aut optio commodi
      reprehenderit ducimus iure. Voluptatem recusandae deleniti temporibus pariatur accusantium velit sit provident
      illo fugiat nisi itaque eligendi doloribus ea culpa consequuntur at, ducimus, quam magnam cum sequi. Fuga fugit
      ducimus aut et voluptatibus. Eum blanditiis provident ipsa temporibus. Sit maxime explicabo ea suscipit facilis
      est, quos totam molestias, eos doloribus aperiam ipsum consectetur cupiditate animi, soluta voluptatibus. Pariatur
      quisquam ea non quo ducimus? Excepturi nesciunt praesentium doloremque molestias rem! Cupiditate explicabo odio
      nobis repudiandae. Excepturi sapiente quasi numquam corrupti corporis quas odio accusantium, mollitia voluptatem
      dicta maxime nobis eos, aperiam ducimus aut temporibus! Quaerat aliquam temporibus beatae officiis eius quis
      accusamus consectetur vero quidem nam, debitis quas a unde veniam nihil aut possimus, optio, consequatur ex.
      Cumque inventore maiores incidunt voluptates beatae sint. Doloremque dolorum reiciendis hic voluptas libero, fugit
      nam veniam. Autem saepe, accusamus harum quia fugiat laborum earum voluptate laboriosam quasi enim? Illum placeat
      repellat quidem numquam voluptates quae, error mollitia. Repellendus quo eveniet recusandae ad adipisci ex
      voluptatem animi praesentium incidunt aspernatur! Assumenda blanditiis impedit architecto quam ipsa
      exercitationem, iusto temporibus corrupti porro ducimus fuga in ipsum totam distinctio esse! Eius labore
      consequuntur cumque ipsa, dicta provident delectus placeat molestiae reiciendis. Temporibus suscipit cumque
      dolores nisi aliquam possimus provident facere nulla neque voluptate libero ut, nam inventore incidunt sunt
      aliquid? Nam voluptatum nulla maxime, rem veritatis error, libero necessitatibus deserunt beatae alias cum
      consequatur quia a ab est ea delectus nesciunt animi perspiciatis consectetur! Architecto itaque aspernatur
      aperiam culpa? Fugit? Necessitatibus natus dolores blanditiis excepturi! Dolor corporis modi neque aperiam. Minus
      unde a facilis tempora commodi earum assumenda necessitatibus quos sed! Sapiente iure laudantium alias suscipit?
      Consequuntur culpa nemo neque. Consectetur autem expedita, fuga necessitatibus rerum, officia pariatur esse ad
      dicta, aliquid ullam nostrum veritatis laborum adipisci quae dolore magnam. Culpa, explicabo? Tempore,
      perferendis. Quod soluta aperiam quis ducimus? Cum. Dolorum inventore quaerat officia ducimus ratione in unde
      delectus nihil id rerum vel, nulla repellendus error? Quasi voluptatem at quod amet sequi quas explicabo molestias
      placeat. Cupiditate nostrum ipsam ipsa. Ab aspernatur ducimus quos quaerat vitae qui, a perferendis voluptas
      explicabo minima fugit eum quia fuga omnis neque perspiciatis distinctio. Officia laboriosam saepe dolore eligendi
      quia ipsa repellendus nostrum similique! Ipsum tempore alias ipsa rerum est labore ipsam cumque, quidem iure
      perferendis. Itaque, veritatis. Labore, quidem sed voluptatem vero necessitatibus laboriosam nam consequuntur hic
      quam, esse consectetur cum unde sequi. Odit error provident, suscipit officia impedit vero nesciunt eaque eum modi
      incidunt sit quo magnam nobis harum corrupti, accusantium cupiditate? Saepe ducimus a officiis, dicta facilis
      optio reiciendis tenetur numquam. Sed nemo placeat eaque? Molestiae rerum iure ea vitae eos totam fuga adipisci?
      Reiciendis accusantium incidunt impedit praesentium quod corrupti itaque, saepe consequuntur omnis officia sequi,
      ut laborum aliquam dolore? Modi maxime quibusdam provident, magni repudiandae officia soluta voluptate doloribus
      dolorem deleniti voluptates itaque. Doloremque eius expedita sint magni, quaerat adipisci molestiae. Expedita,
      quaerat. Reprehenderit quidem ipsam provident fuga omnis! Voluptatibus cumque voluptas doloremque, eveniet illo
      sequi amet, ipsum dolores impedit nesciunt velit, harum at blanditiis voluptate odio. Laboriosam facilis esse
      totam architecto ratione perferendis cum accusantium in ad. Aliquid? Iste dolores officiis exercitationem ipsum
      amet id illo, quo culpa reprehenderit eum quis repellendus sequi assumenda repellat quos? Voluptatum veniam ullam
      beatae obcaecati praesentium est corporis maxime quas perferendis voluptate. Ut provident atque amet iste
      quibusdam quia odio dolorem explicabo soluta impedit veritatis accusantium optio sapiente voluptas, accusamus,
      nostrum eum rerum reprehenderit voluptate blanditiis esse! Repellat mollitia dignissimos autem totam. At laborum
      ut ea? Repellat ipsum, dolor voluptates quam quaerat porro eveniet perferendis aut officiis cupiditate quos optio
      minus accusamus, quo aperiam consequuntur exercitationem enim nulla sit tempora quae. Optio. Voluptatum nostrum
      minima minus amet ullam enim reprehenderit quod. Eveniet, qui tenetur quasi, libero sunt molestiae, nihil earum
      consectetur quia distinctio sed nesciunt enim veritatis consequatur rem incidunt minima aliquam! Impedit cumque
      sequi magni voluptas laborum ratione quisquam fugiat sed, ab sit nesciunt consectetur. Quidem et, velit nobis
      distinctio rerum doloribus assumenda non exercitationem illo nisi debitis necessitatibus reprehenderit saepe. Quas
      nostrum illum sunt quo, perferendis excepturi, mollitia pariatur id neque fugit reiciendis! Similique quo numquam
      maxime tempora reiciendis voluptatibus earum nostrum, nesciunt deserunt expedita dolorum? Pariatur nesciunt rerum
      eaque. Consequatur vel maxime quo ipsa et voluptates explicabo animi veritatis aperiam assumenda cumque beatae
      totam molestiae, possimus laudantium sapiente dolor nulla, ratione voluptatem saepe facilis quae! Beatae explicabo
      nihil aspernatur. Voluptatum voluptatibus nisi corrupti sapiente sunt quia incidunt quam cum earum quas
      consequuntur eligendi hic architecto ipsum quae rerum quo, accusantium nulla necessitatibus, magnam ipsa placeat
      voluptate. Sequi, minima at? Modi rem iusto ipsam repellendus vitae accusantium. Amet quibusdam, incidunt eos
      explicabo iure ad consequatur nisi, provident numquam accusantium totam facere impedit minima corporis quis. Fugit
      dolores veritatis eveniet quos. Assumenda vitae, accusantium nihil maxime saepe error ratione blanditiis nemo
      delectus unde voluptatem exercitationem asperiores aliquam deleniti, impedit, laboriosam ex. Amet suscipit
      accusantium atque adipisci quasi similique vitae iure rem! Facere aspernatur facilis cumque eum neque magni quam
      animi voluptates accusamus necessitatibus quod error tempora eligendi rerum ipsa ut incidunt similique sint illum
      quibusdam, adipisci quidem quasi totam? Perferendis, asperiores. Saepe minima dolorum, officiis debitis eligendi
      soluta laboriosam qui quasi id temporibus repellendus veniam dolor illum. Provident, accusamus nihil tempora
      quaerat architecto voluptate officia numquam sint voluptatem natus quam fugiat.
    </div>
  </body>
</html>
