<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>

    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css" />

    <style>
      .container {
        border: 1px solid red;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <!-- Stack the columns on mobile by making one full-width and the other half-width -->
      <div class="row">
        <div class="col col-xl-6 col-md-12">
          <div class="col-xl-4 col-md-6">1</div>
          <div class="col-xl-4 col-md-6">2</div>
          <div class="col-xl-4 col-md-6">3</div>
        </div>
        <div class="col col-xl-6 col-md-12">
          <div class="col-xl-4 col-md-6">4</div>
          <div class="col-xl-4 col-md-6">5</div>
          <div class="col-xl-4 col-md-6">6</div>
        </div>
      </div>

      <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
      <div class="row">
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
      </div>

      <!-- Columns are always 50% wide, on mobile and desktop -->
      <div class="row">
        <div class="col-6">.col-6</div>
        <div class="col-6">.col-6</div>
      </div>
    </div>
  </body>
</html>
